.list {
    flex-direction: column;
    width: 100%;
    /* max-height: 400px; */
    overflow-y: scroll;
    overflow-x: hidden;

    /* Hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.list::-webkit-scrollbar {
    display: none;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--article);
    margin: 0 0 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    transform: translateX(100%);
}

.itemHero {
    width: 100%;
    margin-right: 1rem;
    border-right: 1.5px solid var(--text-secondary);
}

/* rgba(200, 200, 200, 0.5) */

.itemTitle {
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
}

.itemTime {
    font-style: italic;
    font-weight: 500;
    color: var(--text-secondary);
}

.readMore {
    padding: .5em .5em;
    border-radius: 15px;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--text-secondary) !important;
}

.readMore:hover {
    color: var(--title) !important;
    background-color: rgba(255, 255, 255, 0.3);
}