.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.container p {
    font-size: 1.1rem;
    margin: 0 0 2rem 0;
    animation: fadeIn 3s;
}

.container h1 {
    font-size: calc(3rem + .5vmin);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slideInRight {
    animation: slideInRight 1s;
}

.slideInLeft {
    animation: slideInLeft 1s;
}

.socials {
    margin: 5rem 0;
    color: var(--active);
    animation: fadeIn 2s;
}

.socials a {
    margin: .4rem;
    height: 100%;
}

.socials svg {
    color: inherit;
    height: calc(4rem + .2vmin);
    width: calc(4rem + .2vmin);
    padding: 0.5rem;
}

/* TABLETS & DESKTOPS */
@media only screen
and (min-width: 768px)
and (max-width: 1400px) {
    .socials {
        margin: 1rem 0;
    }
}

/* PHONES */
@media only screen
and (max-width: 767px) {

}

/* PORTRAIT PHONES */
@media only screen
and (max-width: 767px)
and (orientation: portrait) {


}

/* ANIMATIONS */
/* ========== */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInRight {
    0% { transform: translateX(100%);opacity: 0;}
    100% { transform: translateX(0%);opacity: 1;}
}

@keyframes slideInLeft {
    0% { transform: translateX(-100%);opacity: 0;}
    100% { transform: translateX(0%);opacity: 1;}
}