
.bar {
    display: flex;
    align-items: center;
    
    height: 10vh;
    width: 100%;

    background: var(--primary);
    position: absolute;
    top: 0;
}

.text {
    font-size: 1.1rem;
    font-weight: 500;
}

.hero_container {
    width: 100%;
}

.hero {
    margin-left: 15%;
    color: var(--text-secondary);
}

.toggler {
    width: 25px;
    height: 25px;
}

.toggler:hover {
    cursor: pointer;
}

.icon {
    color:  var(--toggler);
    width: inherit;
    height: inherit;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}

.link {
    list-style: none;
    color: var(--text-secondary);
}

.link:not(:first-child) {
    margin-left: 2rem;
}

.link a {
    /* -webkit-touch-callout: none; */
    padding-bottom: .4rem;
}

.link a:focus{
    user-select: none;
}

.active {
    border-bottom: 2px solid var(--active);
    color: var(--active) !important;
    font-weight: 600;
}

/* TABLETS & DESKTOPS */
@media only screen
and (min-width: 768px)
and (max-width: 1400px) {
    .hero_container {
        width: 45%;
    }
    
    .links {
        width: 50%;
    }

    .link:not(:first-child) {
        margin-left: 1rem;
    }
}

/* PHONES */
@media only screen
and (max-width: 767px) {
    .bar {
        position: fixed;
        top: unset;
        bottom: 0;
        /* transform: translateY(10vh); */
    }

    .hero_container {
        width: 45%;
    }

    .links {
        width: 50%;
    }
    
    .link:not(:first-child) {
        margin-left: 1rem;
    }


}

/* PORTRAIT PHONES */
@media only screen
and (max-width: 767px)
and (orientation: portrait) {


}