.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    width: 50%;
    height: 100%;
    
    margin: 0 auto;
    padding: 8vh 1rem 0;
    
    overflow-y: scroll;
    scrollbar-width: none;
}

/* TABLETS & DESKTOPS */
@media only screen
and (min-width: 768px)
and (max-width: 1400px) {
    .container {
        width: 100%;
    }
}

/* PHONES */
@media only screen
and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

/* PORTRAIT PHONES */
@media only screen
and (max-width: 767px)
and (orientation: portrait) {
}