.container {
    width: 100%;
    margin: 0 0 1rem 0;
}

.container h1 {
    font-size: 2.7rem;
    margin: 0 0 0rem 0;
}
.container time {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--text-secondary);
}