.code {
    padding: .12rem .5rem;
    color: red;
    border-radius: 7.5px;
    background-color: var(--text-secondary);
    font-size: 1rem;
}

.copy {
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 10px;
}

.image {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: fill;
}

.fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
}

.Snippet {
    line-height: 1.1 !important;
}

.Snippet code {
    font-size: 1.05rem;
    line-height: inherit !important;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* TABLETS & DESKTOPS */
@media only screen
and (min-width: 768px)
and (max-width: 1400px) {
    .image {
        height: 600px;
    }
}

/* PHONES */
@media only screen
and (max-width: 767px) {
    .image {
        height: 200px;
    }
}