.About {
    height: 100%;
    padding: 7vh 20% 0;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.About section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 400px;
}

.About__Bio h1 {
    margin: 2rem 0;
}

.About__Bio div p {
    margin: 1rem 0;
}

.About__Technologies div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem;
}

.About__Technologies h1 {
    margin: 2rem 0;
}

.About__Technologies svg {
    width: 48px;
    height: 48px;
    color: var(--text-secondary);
    margin-bottom: 1rem;
}

.About__Technologies svg {
    margin: 0 1rem 0;
}

.About__Contact h1 {
    margin: 2rem 0;
}

.emailMe {
    /* background: aliceblue; */
    padding: 0.75rem 0.5rem;
    color: var(--text-primary) !important;
    border: .2rem solid var(--text-secondary);
    border-radius: 15px;
    margin-right: 2rem;
    font-weight: 600;
}



/* TABLETS */
@media only screen
and (min-width: 768px)
and (max-width: 1400px) {
}

/* PHONES */
@media only screen
and (max-width: 767px) {
    .About {
        padding: 0 2rem;
    }

    .About__Technologies svg {
        margin: 0 1rem 1rem;
    }
}

/* PORTRAIT PHONES */
@media only screen
and (max-width: 767px)
and (orientation: portrait) {
}

.bounce2 {
    animation: bounce2 1.7s ease forwards;
}
@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}